<!--Tidak diperbolehkan menghapus/meng-comment app-case-->
<app-case [name]="myName" (afterNameInitiated)="child.hide($event)"></app-case>

<div style="text-align:center">
  <form [formGroup]="todoform" (ngSubmit)="onSubmit()">
    <label> User ID
      <br>
      <select formControlName="userId" required>
          <option value="" disabled selected>Select your option</option>
          <option [value]="item" *ngFor="let item of unique">{{item}}</option>
      </select>
    </label>
    <br>
    <label> Title </label>
      <br>
      <input type="text" formControlName="title" required>
      <div *ngIf="todoform.controls['title'].invalid && todoform.controls['title'].touched" class="error-msg">
          Title harus diisi!
      </div>
    <br>
    <label> Body</label>
      <br>
      <input type="text" formControlName="body" pattern="^[a-zA-Z0-9]*$">
      <div *ngIf="todoform.controls['body'].invalid" class="error-msg">
        Nilai yang dimasukan harus alfanumeric!
      </div>
    <div>
    <button type="submit" class="btn btn-primary" [disabled]="!todoform.valid">Submit</button>
    <button *ngIf="isEdit === true" class="btn btn-primary" (click)="batal()">Batal</button>
    </div>
  </form>
</div>

<div class="container">
  <kendo-grid [data]="listTodo" [height]="410">
    <kendo-grid-column field="id" title="ID" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="userId" title="User ID" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="title" title="Title" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="body" title="Body" width="150">
    </kendo-grid-column>
  <kendo-grid-command-column title="command" width="70">
      <ng-template kendoGridCellTemplate let-dataItem>
          <button class="btn btn-primary" (click)="toEdit(dataItem)">Edit</button>
          <button class="btn btn-danger" (click)="onRemove(dataItem.id)">Delete</button>
      </ng-template>
  </kendo-grid-command-column>
  </kendo-grid>
</div>
